<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DrawBoard.DrawBoardSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DrawBoard.DrawBoardSettings>
            <setting name="WindowWidth" serializeAs="String">
                <value>882</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="WinLoseGameCount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WinCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RankingGameCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FirstCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SecondCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ThirdCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FourthCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="FifthCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SixthCount" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="SeventhCount" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="WinText" serializeAs="String">
                <value>당첨</value>
            </setting>
            <setting name="LoseText" serializeAs="String">
                <value>꽝</value>
            </setting>
            <setting name="RankingLoseText" serializeAs="String">
                <value>꽝</value>
            </setting>
            <setting name="FirstText" serializeAs="String">
                <value>1등</value>
            </setting>
            <setting name="SecondText" serializeAs="String">
                <value>2등</value>
            </setting>
            <setting name="ThirdText" serializeAs="String">
                <value>3등</value>
            </setting>
            <setting name="FourthText" serializeAs="String">
                <value>4등</value>
            </setting>
            <setting name="FifthText" serializeAs="String">
                <value>5등</value>
            </setting>
            <setting name="SixthText" serializeAs="String">
                <value>6등</value>
            </setting>
            <setting name="SeventhText" serializeAs="String">
                <value>7등</value>
            </setting>
            <setting name="WinLoseTextSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="WinLoseNumberTextSize" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="RankingTextSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="RankingNumberTextSize" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="WinLoseBackgroundColor" serializeAs="String">
                <value>#FF4B0082</value>
            </setting>
            <setting name="RankingBackgroundColor" serializeAs="String">
                <value>#FF4B0082</value>
            </setting>
            <setting name="WinLoseWinBackgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="RankingWinBackgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="WinLoseLoseBackgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="RankingLoseBackgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="WinLoseNumberColor" serializeAs="String">
                <value>#FFEEE8AA</value>
            </setting>
            <setting name="RankingNumberColor" serializeAs="String">
                <value>#FFEEE8AA</value>
            </setting>
            <setting name="WinLoseWinColor" serializeAs="String">
                <value>#FF00FF00</value>
            </setting>
            <setting name="RankingWinColor" serializeAs="String">
                <value>#FF00FF00</value>
            </setting>
            <setting name="WinLoseLoseColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="RankingLoseColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="WinLosePanelColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="RankingPanelColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="SelectedWinLoseFont" serializeAs="String">
                <value>GulimChe</value>
            </setting>
            <setting name="SelectedRankingFont" serializeAs="String">
                <value>GulimChe</value>
            </setting>
            <setting name="WinVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="LoseVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="WinSoundPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LoseSoundPath" serializeAs="String">
                <value />
            </setting>
        </DrawBoard.DrawBoardSettings>
    </userSettings>
</configuration>