<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DrawBoard.DrawBoardSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DrawBoard.DrawBoardSettings>
            <setting name="AllNumber" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WinNumber" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WinText" serializeAs="String">
                <value>당첨</value>
            </setting>
            <setting name="FailureText" serializeAs="String">
                <value>꽝</value>
            </setting>
            <setting name="WinFailureTextSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#FF0F0E0E</value>
            </setting>
            <setting name="FailureColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>#FFF0FFFF</value>
            </setting>
            <setting name="BoxWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BoxHeight" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="WinColor" serializeAs="String">
                <value>#FF00008B</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>730</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="SelectedFont" serializeAs="String">
                <value>Magic R</value>
            </setting>
            <setting name="NumberTextSize" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="WinSoundPath" serializeAs="String">
                <value>없음</value>
            </setting>
            <setting name="FailureSoundPath" serializeAs="String">
                <value>없음</value>
            </setting>
            <setting name="PanelColor" serializeAs="String">
                <value>#2B2B2B</value>
            </setting>
            <setting name="WinVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="FailureVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
        </DrawBoard.DrawBoardSettings>
    </userSettings>
</configuration>